* {
  margin: 0;
  font-family: Montserrat, sans-serif;
}

html {
  scroll-behavior: smooth;
}

.family {
  font-family: Montserrat, sans-serif !important;
}

.mt {
  margin-top: 95px;
}

// Material UI input field custom style

.form {
  width: 500px;
}

.form-control {
  &:focus {
    box-shadow: 0 0 0.25rem #02a39b !important;
  }
}

.MuiFormLabel-root.Mui-focused {
  color: #02a39b !important;
}

.MuiFilledInput-underline.Mui-focused:after {
  border-color: #02a39b !important;
}

.MuiFilledInput-underline:after {
  border-color: #02a39b !important;
}

.mui-btn-contained {
  background-color: #01645f !important;
  transition: all 0.3s !important;
  text-transform: none !important;
  font-family: Quicksand, sans-serif;
  outline: none !important;
  color: white !important;
  &:hover {
    background-color: #02a39b !important;
  }
}

// Loader
.loader {
  color: white !important;
  width: 23px !important;
  height: 23px !important;
  margin: 3px 0;
}

.outline {
  outline: none !important;
}

@media only screen and (max-width: 576px) {
  .form {
    width: 80vw;
  }
}

// variables
@import "./variables";

// Nav
@import "./nav/nav";

// Applicants Data
@import "./applicants_data/applicantsData";
